body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

header h1 {
    color: white;
}

nav {
    text-align: center;
    background-color: grey;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.content-box {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.content-box img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}